[Unit]
Description=Minecraft Forge Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash /home/ubuntu/run.sh nogui
Restart=on-failure
RestartSec=10
TimeoutStopSec=90
KillSignal=SIGINT
SuccessExitStatus=0 130 143

[Install]
WantedBy=multi-user.target